<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="50" alt="Book Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTWv94ka1oFFlZNGg6g8D7RWmt32lJz4b4cRT5YrtLtsVU7QpoF&usqp=CAU" />
    <span>BOOK STORE APP</span>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink='/'>Home <span class="sr-only"></span></a>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 40%">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink='/book/create'>Create Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/book/get'>Get Books</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            Help ?
        </form>
    </div>
</nav>